<section class="main">
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="./assets/images/Logo.png" alt="Logo">
      </div>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a (click)="scrollTo(why)">Почему у нас</a>
          </li>
          <li class="menu-item">
            <a (click)="scrollTo(products)">Меню бургеров</a>
          </li>
          <li class="menu-item">
            <a (click)="scrollTo(order)">Оформление заказа</a>
          </li>
        </ul>
      </nav>
      <div class="currency" title="изменить валюту" id="change-currency" (click)="changeCurrency()">{{currency}}</div>
    </div>
  </header>
  <section class="main-content">
    <div class="container">
      <div class="main-info">
        <span class='main-small-info'>Новое меню</span>
        <h1 class="main-title">Бургер чеддер</h1>
        <p class="main-text">Мы обновили наше меню, спешите попробовать сезонные новинки и насладиться отличным вкусом
          наших бургеров. Готовим для вас лучшие бургеры в городе из отборной мраморной говядины.</p>
      </div>
      <div class="main-action">
        <button class="button" id="main-action-button" (click)="scrollTo(products)">Смотреть меню</button>
      </div>
      <img src="./assets/images/main_burger.png" alt="Big burger" class="main-image">
    </div>
  </section>
</section>
<section class="why" id="why" #why>
  <div class="container">
    <div class="common-title">почему нас выбирают?</div>
    <div class="why-items">
      <div class="why-item">
        <img src="./assets/images/burger.png" alt="burger" class='why-item-image'>
        <div class="why-item-title">Авторские рецепты</div>
        <div class="why-item-text">Наши бургеры обладают уникальным сочетанием вкусов и не похожи ни на какие другие.
          Мы тщательно отбираем лучшие ингредиенты и сочетания вкусов для нашего меню.</div>
      </div>
      <div class="why-item">
        <img src="./assets/images/meat.png" alt="meat" class='why-item-image'>
        <div class="why-item-title">Мраморная говядина</div>
        <div class="why-item-text">Для наших бургеров мы используем отборную 100% мраморную говядину, которую закупаем
          исключительно у фермеров. Мы уверены в качестве нашего мяса.</div>
      </div>
      <div class="why-item">
        <img src="./assets/images/truck.png" alt="truck" class='why-item-image'>
        <div class="why-item-title">Быстрая доставка</div>
        <div class="why-item-text">Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка бесплатно.
          Мы тщательно упаковываем наши бургеры, чтобы по дороге они не остыли.</div>
      </div>
    </div>
  </div>
</section>
<section class="products" id="products" #products>
  <div class="container">
    <div class="common-title">выберите свой бургер</div>
    <div class="products-items">
      <div class="products-item" *ngFor="let product of productsData">
        <div class="products-item-image">
          <img src="./assets/images/{{product.image}}" alt="Burger">
        </div>
        <div class="products-item-title">{{product.title}}</div>
        <div class="products-item-text">{{product.text}}</div>
        <div class="products-item-extra">
          <div class="products-item-info">
            <div class="products-item-price">{{product.price}} {{currency}}</div>
            <div class="products-item-weight">{{product.grams}} гр</div>
          </div>
          <div class="products-item-action">
            <button class="button product-button" (click)="scrollTo(order,product)">
              <span>Заказать</span>
              <span>
                <svg width="24.000000" height="24.000000" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                  <defs>
                    <clipPath id="clip1_70">
                      <rect id="shopping-card" width="24.000000" height="24.000000"
                        transform="translate(0.000000 -0.500000)" fill="white" fill-opacity="0" />
                    </clipPath>
                  </defs>
                  <rect id="shopping-card" width="24.000000" height="24.000000"
                    transform="translate(0.000000 -0.500000)" fill="#FFFFFF" fill-opacity="0" />
                  <g clip-path="url(#clip1_70)">
                    <path id="Vector"
                      d="M17 17.5C17.53 17.5 18.03 17.71 18.41 18.08C18.78 18.46 19 18.96 19 19.5C19 20.03 18.78 20.53 18.41 20.91C18.03 21.28 17.53 21.5 17 21.5C16.46 21.5 15.96 21.28 15.58 20.91C15.21 20.53 15 20.03 15 19.5C15 18.39 15.88 17.5 17 17.5ZM1 1.5L4.27 1.5L5.2 3.5L20 3.5C20.26 3.5 20.51 3.6 20.7 3.79C20.89 3.98 21 4.23 21 4.5C21 4.66 20.95 4.83 20.87 5L17.29 11.47C16.95 12.08 16.29 12.5 15.55 12.5L8.1 12.5L7.19 14.12L7.16 14.25C7.16 14.31 7.19 14.37 7.24 14.42C7.29 14.47 7.35 14.5 7.41 14.5L19 14.5L19 16.5L7 16.5C6.46 16.5 5.96 16.28 5.58 15.91C5.21 15.53 5 15.03 5 14.5C5 14.14 5.09 13.81 5.23 13.54L6.6 11.08L3 3.5L1 3.5L1 1.5ZM7 17.5C7.53 17.5 8.03 17.71 8.41 18.08C8.78 18.46 9 18.96 9 19.5C9 20.03 8.78 20.53 8.41 20.91C8.03 21.28 7.53 21.5 7 21.5C6.46 21.5 5.96 21.28 5.58 20.91C5.21 20.53 5 20.03 5 19.5C5 18.39 5.88 17.5 7 17.5ZM16 10.5L18.78 5.5L6.13 5.5L8.5 10.5L16 10.5Z"
                      fill="#191411" fill-opacity="1.000000" fill-rule="nonzero" />
                  </g>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="order" id="order" #order>
  <div class="container">
    <div class="common-title">оформление заказа</div>
    <img src="./assets/images/order_image.png" alt="Burger in the box" class="order-image">
    <div class="order-form">
      <div class="order-form-text">
        Заполните все данные и наш менеджер свяжется с вами для подтверждения заказа
      </div>
      <div class="order-form-inputs" [formGroup]="form">
        <div class="order-form-input"
          [class]="{'error': form.get('order')?.invalid && (form.get('order')?.dirty || form.get('order')?.touched)}">
          <input type="text" placeholder="Выберите товар в списке" id="burger" formControlName="order" readonly>
        </div>
        <div class="order-form-input"
          [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)}">
          <input type="text" placeholder="Ваше имя" id="name" formControlName="name">
        </div>
        <div class="order-form-input"
          [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)}">
          <input type="text" placeholder="Ваш телефон" id="phone" formControlName="phone">
        </div>
        <button class="button" id="order-action" (click)="confirmOrder()" [disabled]="!form.valid"> Оформить
          заказ</button>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/Logo.png" alt="Logo">
    </div>
    <div class="rights">Все права защищены</div>

  </div>
</footer>
